/Chapter2/CoinCalcApp/obj
/Chapter2/CoinCalcApp/.vs
/Chapter2/CoinCalcApp/bin
/Visual Studio開発環境構築手順書_2022.xlsx
/Chapter2/CoinCalcApp_5/.vs
/Chapter2/CoinCalcApp_5/obj
/Chapter2/CoinCalcApp_5/bin
/Chapter2/CoinCalcApp_2/.vs
/Chapter2/CoinCalcApp_2/obj
/Chapter2/CoinCalcApp_2/bin
/.gitignore
/Chapter2
/Chapter3
