<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
      変数の定義を行います。
   -->
<property name="LOG_DIR" value="/log" />
<property name="TRACE_LOG" value="/trace.log" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level - %msg%n</pattern>
    </encoder>
    <withJasi>true</withJasi>
  </appender>

  <appender name="TRACE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}${TRACE_LOG}</file>
    <encoder>
      <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="jp.co.auctor.helloworld.resource.AspectLog" level="info">
        <appender-ref ref="TRACE" />
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
